<html>
    <%- include("./partials/head.ejs") %>
      <body>
       
        <div class="head">  
          <div class="header">
           <span class="logo">
            <img src="./public/images/iit_logo.png" alt="1200px-IIT-Guwahati-Logo-1"  />
          </span>
          <span class="title">
            <h5 class="text-sm ">
              INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI
            </h5>
          </span>
        </div>

            <%- include("./partials/topNav.ejs") %>
           

            <div class="slideshow-container">
              <div class="mySlides1">
                <img src="./public/images/img_nature_wide.jpg" style="width:100%">
              </div>
            
              <div class="mySlides1">
                <img src="./public/images/img_snow_wide.jpg" style="width:100%">
              </div>
            
              <div class="mySlides1">
                <img src="./public/images/img_mountains_wide.jpg" style="width:100%">
              </div>
            
              <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
              <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
            </div>


            <%- include("./partials/bottomNav.ejs") %>
            <%- include("./partials/sideNav.ejs") %>

            <script>
              var slideIndex = [1,1];
              var slideId = ["mySlides1", "mySlides2"]
              showSlides(1, 0);
              
              function plusSlides(n, no) {
                showSlides(slideIndex[no] += n, no);
              }
              
              function showSlides(n, no) {
                var i;
                var x = document.getElementsByClassName(slideId[no]);
                if (n > x.length) {slideIndex[no] = 1}    
                if (n < 1) {slideIndex[no] = x.length}
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";  
                }
                x[slideIndex[no]-1].style.display = "block";  
              }


              </script>


                
                

            <div class="welcome">
                <H1 id="welfareBoardHeading">Welcome to Welfare Board, IIT Guwahati</H1>
                <div class="aboutWelfare">
                   <h3 id="about">About</h3>
                    <p>Student's Welfare Board (SWB) is committed to the total development of the students of IIT-Guwahati. The Welfare Service forms part of Campus Well-being Services and is committed to providing free professional and confidential support to enhance the well-being of the campus community. Based on the founding principles of the university, SWB implements programs and activities designed to nurture and develop the mind, body, and spirit.</p>
                </div>
                <div class="ourVision">
                   <h3 id="vision">Our Vision</h3>
                   <P>Student Welfare Board will provide opportunities for students to develop the skills necessary to successfully transition into the University and campus life, their sport or program, and the community. Through educational programming and a host of other additional resources, SWB will empower every student to make positive decisions in order to reach their full potential as students and citizens.</P>
                </div>
            </div>

              
          <!-- Announcements -->
  <div class="announcements">
    <div class="announce">
        <h2 id="announcement">Announcements</h2>
        <div class="dropdown">
          <button class="btn shadow-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            IMPORTANT
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
          </ul>
        </div>
    </div>


    <% announcements.forEach(announcement=>{%>
    <div class="boxes">
      
      <div class="box shadow p-3 mb-3 bg-body rounded">
     

        <p class="date"><%=announcement.creation%></p>
        <div class="info">
          <p class="content"><%=announcement.description%></p>
          <a href="<%=announcement.link %>" ><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4394 29.3923H10.546C5.83935 29.3923 2.66602 26.3643 2.66602 21.8456V10.2856C2.66602 5.76559 5.83935 2.72559 10.546 2.72559H21.4394C26.1593 2.72559 29.3327 5.76559 29.3327 10.2856V21.8456C29.3327 26.3643 26.1593 29.3923 21.4394 29.3923ZM19.026 15.0589H10.5593C9.99932 15.0589 9.55932 15.5123 9.55932 16.0589C9.55932 16.6189 9.99932 17.0589 10.5593 17.0589H19.026L15.7193 20.3523C15.5327 20.5389 15.426 20.8056 15.426 21.0589C15.426 21.3109 15.5327 21.5656 15.7193 21.7656C16.106 22.1523 16.746 22.1523 17.1327 21.7656L22.1593 16.7656C22.5327 16.3923 22.5327 15.7256 22.1593 15.3523L17.1327 10.3523C16.746 9.96559 16.106 9.96559 15.7193 10.3523C15.3327 10.7523 15.3327 11.3789 15.7193 11.7789L19.026 15.0589Z" fill="#A5ADBC"/>
          </svg></a>   
         
          
        </div>
      </div>

    
    </div>
    <% }) %>

  </div>     

              


              <!-- Achievements -->
        <div class="achievements mt-5 w-50 d-flex flex-column">
          <div class="ach-start d-flex justify-content-between">
              <h2 id="achievements">Student Achievements</h2>
              <div class="dropdown">
                  <button class="btn shadow-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    2021
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">2020</a></li>
                    <li><a class="dropdown-item" href="#">2019</a></li>
                    <li><a class="dropdown-item" href="#">2018</a></li>
                  </ul>
              </div>
          </div>
          <div class="cards_container d-flex justify-content-around mt-5">
              <div class="cards_left">
                  <div class="card">
                      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/118A0/production/_118604817__116721094_mustang.jpg" class="card-img-top shadow" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="read_more d-flex justify-content-end  text-center">
                              <span class="me-1">Read more</span>
                              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                  width="25" height="25"
                                  viewBox="0 0 172 172"
                                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2b3649"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM118.72013,90.05347l-22.93333,22.93333c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l13.14653,-13.14653h-43.49307c-3.1648,0 -5.73333,-2.5628 -5.73333,-5.73333c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333h43.49307l-13.14653,-13.14653c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693c2.24173,-2.24173 5.8652,-2.24173 8.10693,0l22.93333,22.93333c2.24173,2.24173 2.24173,5.8652 0,8.10693z"></path></g></g></svg>
                          </div>
                      </div>  
                  </div>
                  <div class="card mt-4">
                      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/118A0/production/_118604817__116721094_mustang.jpg" class="card-img-top shadow" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="read_more d-flex justify-content-end">
                              <span class="me-1">Read more</span>
                              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                  width="25" height="25"
                                  viewBox="0 0 172 172"
                                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2b3649"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM118.72013,90.05347l-22.93333,22.93333c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l13.14653,-13.14653h-43.49307c-3.1648,0 -5.73333,-2.5628 -5.73333,-5.73333c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333h43.49307l-13.14653,-13.14653c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693c2.24173,-2.24173 5.8652,-2.24173 8.10693,0l22.93333,22.93333c2.24173,2.24173 2.24173,5.8652 0,8.10693z"></path></g></g></svg>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="cards_right ms-5">
                  <div class="card">
                      <div class="card-body" >
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse eos labore omnis praesentium nobis aut nam vitae reiciendis animi. Illo pariatur cum ad repellat quae ut, minima temporibus possim lore</p>
                        <div class="read_more d-flex justify-content-end">
                          <span class="me-1">Read more</span>
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                  width="25" height="25"
                                  viewBox="0 0 172 172"
                                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2b3649"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM118.72013,90.05347l-22.93333,22.93333c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l13.14653,-13.14653h-43.49307c-3.1648,0 -5.73333,-2.5628 -5.73333,-5.73333c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333h43.49307l-13.14653,-13.14653c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693c2.24173,-2.24173 5.8652,-2.24173 8.10693,0l22.93333,22.93333c2.24173,2.24173 2.24173,5.8652 0,8.10693z"></path></g></g></svg>
                      </div>
                      </div>
                    </div>
                    <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse eos labore omnis praesentium nobis aut nam vitae reiciendis animi. Illo pariatur cum ad repellat quae ut, minima temporibus possim lore</p>
                        <div class="read_more d-flex justify-content-end">
                          <span class="me-1">Read more</span>
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                  width="25" height="25"
                                  viewBox="0 0 172 172"
                                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2b3649"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM118.72013,90.05347l-22.93333,22.93333c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l13.14653,-13.14653h-43.49307c-3.1648,0 -5.73333,-2.5628 -5.73333,-5.73333c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333h43.49307l-13.14653,-13.14653c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693c2.24173,-2.24173 5.8652,-2.24173 8.10693,0l22.93333,22.93333c2.24173,2.24173 2.24173,5.8652 0,8.10693z"></path></g></g></svg>
                      </div>
                      </div>
                    </div>
                    <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse eos labore omnis praesentium nobis aut nam vitae reiciendis animi. Illo pariatur cum ad repellat quae ut, minima temporibus possim lore</p>
                        <div class="read_more d-flex justify-content-end">
                          <span class="me-1">Read more</span>
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                  width="25" height="25"
                                  viewBox="0 0 172 172"
                                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2b3649"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM118.72013,90.05347l-22.93333,22.93333c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693l13.14653,-13.14653h-43.49307c-3.1648,0 -5.73333,-2.5628 -5.73333,-5.73333c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333h43.49307l-13.14653,-13.14653c-2.24173,-2.24173 -2.24173,-5.8652 0,-8.10693c2.24173,-2.24173 5.8652,-2.24173 8.10693,0l22.93333,22.93333c2.24173,2.24173 2.24173,5.8652 0,8.10693z"></path></g></g></svg>
                      </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%- include("./partials/footer.ejs")%>
      </body>
</html>